body {
    main {
        .sectionNosotros {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            position: relative;

            div {
                img {
                    max-width: 100%;
                    min-width: 100%;
                    max-height: 100vh;
                    min-height: 100vh;
                    object-fit: cover;
                    object-position: bottom;
                }
            }

            h2 {
                position: absolute;
                font-family: "Ubuntu light";
                text-align: center;
                font-size: 3.6rem;
                width: 70%;
                top: 30%;
                left: 15%;
                color: white;
            }

            p {
                position: absolute;
                font-family: "Ubuntu";
                font-size: 1.8rem;
                top: 40%;
                color: white;
                text-align: center;
                width: 40%;
                left: 30%;
            }
        }
    }
}